<div class="start-flex ">
  <h1 class="text-center w-100">Editar Evento</h1>
  <%= render 'form', evento: @evento %>
  <div class="w-100 text-center">
    <%= link_to 'Volver', events_path, class:"btn btn-secondary" %>
  </div>
</div>
