<h1>New planeadores de evento</h1>

<%= render "form", planeadores_de_evento: @planeadores_de_evento %>

<br>

<div>
  <%= link_to "Back to planeadores de eventos", planeadores_de_eventos_path %>
</div>
