.home {
  align-items: center;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  padding-bottom: 50px;
}

.navbar-collapse {
  align-items: center;
  justify-content: center;
}

.link {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.events-wrapper {
  padding:50px
}
