<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a nuestra aplicación!</h1>
    <p>Para cambiar tu contraseña, haz clic en el siguiente enlace:</p>
    <p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>
  </body>
</html>
